<h4 style="margin: 20px 20px -10px 30px;">Login </h4>
<div style="margin: 30px;">
    <button (click)="login()" id="googleBtn" style="background-color: transparent;border: 1px solid #dadce0;padding: 10px;border-radius: 5px;display: flex">
        <img src="/assets/images/fb.png"  width="30" height="30" alt="google">
        <span style="margin-left: 4px;padding: 10px; color: gray;">Facebook Sign in</span>
    </button>
</div>

<div style="margin: 30px;">
    <button (click)="getData()" id="googleBtn" style="background-color: transparent;border: 1px solid #dadce0;padding: 5px 5px;border-radius: 5px;display: flex;">
        <img src="/assets/images/google-logo.png"  width="30" height="30" alt="google">
        <span style="margin-left: 4px;padding: 10px; color: gray;">Sign in</span>
    </button>
</div>
<br>
<button routerLink="/list-question" id="nextbtn"></button>
